{# encabezado.twig #}
{% set baseDir = '/TUWD/' %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ baseDir ~ 'TPLibrerias/Vista/assets/css/styles.css' }}"> 
</head>
<body>
    <header>
        <nav>
            <ul class="navbar">
                <li>
                    <a href="{{ baseDir }}TP1/Vista/index.html">TP1</a>
                    <div class="dropdown">
                        <a href="{{ baseDir }}TP1/Vista/Ejercicio1.php" class="cuadro">Ejercicio 1</a>
                        <a href="{{ baseDir }}TP1/Vista/Ejercicio2.php" class="cuadro">Ejercicio 2</a>
                        <a href="{{ baseDir }}TP1/Vista/Ejercicio3.php" class="cuadro">Ejercicio 3</a>
                        <a href="{{ baseDir }}TP1/Vista/Ejercicio4.php" class="cuadro">Ejercicio 4</a>
                        <a href="{{ baseDir }}TP1/Vista/Ejercicio5.php" class="cuadro">Ejercicio 5</a>
                        <a href="{{ baseDir }}TP1/Vista/Ejercicio6.php" class="cuadro">Ejercicio 6</a>
                        <a href="{{ baseDir }}TP1/Vista/Ejercicio7.php" class="cuadro">Ejercicio 7</a>
                        <a href="{{ baseDir }}TP1/Vista/Ejercicio8.php" class="cuadro">Ejercicio 8</a>
                    </div>
                </li>
                <li>
                    <a href="{{ baseDir }}TP2/menu/index.html">TP2</a>
                    <div class="dropdown">
                        <a href="{{ baseDir }}TP2/Vista/Ej2Ejercicio1.php" class="cuadro">Ejercicio 1 - TP1</a>
                        <a href="{{ baseDir }}TP2/Vista/Ej2Ejercicio2.php" class="cuadro">Ejercicio 2 - TP1</a>
                        <a href="{{ baseDir }}TP2/Vista/Ej2Ejercicio3.php" class="cuadro">Ejercicio 3 - TP1</a>
                        <a href="{{ baseDir }}TP2/Vista/Ej2Ejercicio4.php" class="cuadro">Ejercicio 4 - TP1</a>
                        <a href="{{ baseDir }}TP2/Vista/Ej2Ejercicio5.php" class="cuadro">Ejercicio 5 - TP1</a>
                        <a href="{{ baseDir }}TP2/Vista/Ej2Ejercicio6.php" class="cuadro">Ejercicio 6 - TP1</a>
                        <a href="{{ baseDir }}TP2/Vista/Ej2Ejercicio7.php" class="cuadro">Ejercicio 7 - TP1</a>
                        <a href="{{ baseDir }}TP2/Vista/Ej2Ejercicio8.php" class="cuadro">Ejercicio 8 - TP1</a>
                        <a href="{{ baseDir }}TP2/Vista/Ejercicio3.php" class="cuadro">Ejercicio 3</a>
                        <a href="{{ baseDir }}TP2/Vista/Ejercicio4.php" class="cuadro">Ejercicio 4</a>
                    </div>
                </li>
                <li>
                    <a href="{{ baseDir }}TP3/menu/index.html">TP3</a>
                    <div class="dropdown">
                        <a href="{{ baseDir }}TP3/Vista/Ejercicio1.php" class="cuadro">Ejercicio 1</a>
                        <a href="{{ baseDir }}TP3/Vista/Ejercicio2.php" class="cuadro">Ejercicio 2</a>
                        <a href="{{ baseDir }}TP3/Vista/ejercicio3.php" class="cuadro">Ejercicio 3</a>
                    </div>
                </li>
                <li>
                    <a href="{{ baseDir }}TP4/menu/index.html">TP4</a>
                    <div class="dropdown">
                        <a href="{{ baseDir }}TP4/Vista/Ejercicio3/VerAutos.php" class="cuadro">Ejercicio 3</a>
                        <a href="{{ baseDir }}TP4/Vista/Ejercicio4/buscarAuto.php" class="cuadro">Ejercicio 4</a>
                        <a href="{{ baseDir }}TP4/Vista/Ejercicio5/listaPersonas.php" class="cuadro">Ejercicio 5</a>
                        <a href="{{ baseDir }}TP4/Vista/Ejercicio6/NuevaPersona.php" class="cuadro">Ejercicio 6</a>
                        <a href="{{ baseDir }}TP4/Vista/Ejercicio7/NuevoAuto.php" class="cuadro">Ejercicio 7</a>
                        <a href="{{ baseDir }}TP4/Vista/Ejercicio8/CambioDuenio.php" class="cuadro">Ejercicio 8</a>
                        <a href="{{ baseDir }}TP4/Vista/Ejercicio9/BuscarPersona.php" class="cuadro">Ejercicio 9</a>
                    </div>
                </li>
                <li>
                    <a href="{{ baseDir }}TPLibrerias/menu/index.php">TPLibrerias</a>
                    <div class="dropdown">
                        <a href="{{ baseDir }}TPLibrerias/Vista/verControl.php" class="cuadro">Ej1</a>
                        <a href="{{ baseDir }}TPLibrerias/Vista/buscarLibro.php" class="cuadro">Ej2</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>